* {
    transition: .2s;
}

.all-goods {
    display: flex;
    flex-flow: row wrap;
    margin-left: 9vw;
}

.goods {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 300px;
    margin-top: 0em;
    margin: 0 40px;
    margin-top: 1.5em;
}

.goods span {
    color: #000;
    margin-top: 10px;
}

.goods .price {
    color: rgba(0, 0, 0, .5);
}

.goods img {
    height: 260px;
}

.goods .name {
    text-align: center;
}
main {
    height: 88.6vh;
}

.loginMain {
    background: #ceefff4f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginForm {
    display: flex;
    flex-direction: column;
}

.loginForm input:nth-child(2),
.loginForm input:nth-child(3) {
    height: 35px;
    width: 300px;
    border: none;
    border-radius: 6px;
    text-align: center;
    margin-bottom: 8px;
    background: #d4d4d4;
    box-shadow: -5px 0px 10px -2px grey;
}

.loginForm input:nth-child(2):focus,
.loginForm input:nth-child(3):focus {
    transform: translateX(5px);
}

.loginForm input:last-child {
    width: 142px;
    height: 26px;
    margin: 0 auto;
    background: #2c79a099;
    border-radius: 4.5px;
    border: none;
    color: #133242;
    box-shadow: -8px 0px 7px -3px grey;
    cursor: pointer;
    transition: .2s;
}

.loginForm input:last-child:hover {
    transform: translateX(3px);
    box-shadow: -9px 0px 8px -4px grey;
    color: #c0e7fa;
}

.loginForm span {
    text-align: center;
    color: #ca1a1a;
    margin-bottom: 5px;
}

.loginForm h1 {
    text-align: center;
    color: #3d7e9e;
}