
.all-goods {
    display: flex;
    flex-flow: row wrap;
    margin-left: 9vw;
}

.goods {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 300px;
    margin-top: 0em;
    margin: 0 40px;
    margin-top: 1.5em;
}

.goods span {
    color: #000;
    margin-top: 10px;
}

.goods .price {
    color: rgba(0, 0, 0, .5);
}

.goods img {
    height: 260px;
}

.goods .name {
    text-align: center;
}
main {
    height: 88.6vh;
}

