
.all-goods {
    display: flex;
    flex-flow: row wrap;
    margin-left: 9vw;
}

.goods {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 300px;
    margin-top: 0em;
    margin: 0 40px;
    margin-top: 1.5em;
}

.goods span {
    color: #000;
    margin-top: 10px;
}

.goods .price {
    color: rgba(0, 0, 0, .5);
}

.goods img {
    height: 260px;
}

.goods .name {
    text-align: center;
}
main {
    height: 88.6vh;
}

.loginMain {
    background: #ceefff4f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginForm {
    display: flex;
    flex-direction: column;
}

.loginForm input:first-child,
.loginForm input:nth-child(2) {
    height: 35px;
    width: 300px;
    border: none;
    border-radius: 6px;
    text-align: center;
    margin-bottom: 8px;
    background: #d4d4d4;
}

.loginForm input:last-child {
    width: 130px;
    height: 22px;
    margin: 0 auto;
    background: #0872944f;
    border-radius: 4.5px;
    border: none;
    color: #696361;
}